---
import ArchivedDocuments from "../../components/ArchivedDocuments.vue";
import { getPermission, ResourceType, getUserGroups } from "../../db/acl.ts";
import { getSpaceBySlug } from "../../db/spaces.ts";
import SpaceLayout from "../../layouts/SpaceLayout.astro";

if (!Astro.locals.session) {
  return Astro.redirect("/login");
}

const { spaceSlug } = Astro.params;

if (!spaceSlug) {
  return Astro.redirect("/");
}

const space = await getSpaceBySlug(spaceSlug);

if (!space) {
  return new Response(null, {
    status: 404,
    statusText: "Space not found",
  });
}

const user = Astro.locals.user;
if (!user) {
  return Astro.redirect("/login");
}

const userGroups = await getUserGroups(user.id);
const permission = await getPermission(space.id, ResourceType.SPACE, space.id, user.id, userGroups);

if (!permission || permission.permission === "viewer") {
  return new Response(null, {
    status: 403,
    statusText: "Forbidden",
  });
}
---

<SpaceLayout title={`Archive - ${space.name} - Wiki`}>
  <div class="mx-auto pt-m pb-20 lg:pb-8 overflow-hidden h-full print:px-0 px-xs lg:px-xl">
    <h1 class="text-3xl font-bold mb-6">Archived Documents</h1>
    <ArchivedDocuments client:load spaceId={space.id} spaceSlug={spaceSlug} />
  </div>
</SpaceLayout>
