a-popover:not(:defined) {
  display: none;
}

page-target a {
  -webkit-user-drag: element;
}

a-shortcut {
  --background-color: rgba(0, 0, 0, 0);
  border: 1px solid #ffffffb5;
  border-radius: 0.33em;
  padding: 1px 4px;
  display: flex;
  font-size: 0.75rem;
  opacity: 0.6;
}

a-shortcut:not(:defined) {
  display: none;
}

@media (pointer: coarse) {
  a-shortcut {
    display: none;
  }
}

body[data-revision] main,
body[data-editing] main {
  display: none;
}

[data-editing="true"] .breadcrumbs {
    opacity: 0;
}

document-view {
  max-width: 100%;
  overflow: auto;
  display: block;
  position: relative;
  z-index: 0;
}

drawer-track::part(track){
    height: 100%;
}
