@import "tailwindcss";
@import "./font.css";
@import "./theme.css";
@import "./utils.css";
@import "./elements.css";
@import "./print.css";
@import "./canvas.css";

:root {
  --sidebar-width: 18rem;
  --site-width: 1600px;

  --emphasized-curve: linear(0,0.00245 1.753%,0.004 2.29%,0.00994 3.55%,0.01966 4.916%,0.03415 6.402%,0.05334 7.836%,0.07441 9.061%,0.07376 9.061%,0.10031 10.32%,0.12808 11.414%,0.15979 12.444%,0.19399 13.366%,0.23105 14.21%,0.27138 14.974%,0.34474 16.052%,0.34403 16.052%,0.47679 17.475%,0.54434 18.338%,0.60689 19.389%,0.66036 20.609%,0.68967 21.461%,0.71671 22.4%,0.74193 23.444%,0.76532 24.589%,0.78755 25.874%,0.80828 27.285%,0.82719 28.791%,0.84475 30.42%,0.86492 32.632%,0.86558 32.713%,0.8645 32.713%,0.86561 32.715%,0.86856 33.078%,0.88332 35.056%,0.88876 35.862%,0.88763 35.862%,0.88881 35.871%,0.9002 37.721%,0.90085 37.833%,0.90007 37.833%,0.9039 38.373%,0.91554 40.622%,0.9295 43.795%,0.94208 47.239%,0.95333 50.97%,0.96327 54.986%,0.97199 59.335%,0.9795 64.011%,0.9858 69.036%,0.99095 74.434%,0.99492 80.205%,0.99774 86.373%,1);
}

body {
  height: 100vh;
  scrollbar-width: thin;
  scrollbar-gutter: stable;

  background: var(--color-background);
  color: var(--color-forground);
}

.main-content {
  font-size: var(--content-text-size, 1.125rem);
}

hr {
  color: var(--color-neutral-100);
}
