@media print {
  /* hide everything that is not a descendent of .main-content */
  :not(.main-content,body,html,body>div):not(.main-content *) {
    display: none !important;
  }
  /*and this*/
  #document-footer,
  #document-actions {
    display: none !important;
  }
}
