/* Global Table Styles */

/* Table editor */
.tableWrapper {
   margin-bottom: 1.5rem;
}

/* Table-specific styling */
table {
  border-collapse: collapse;
  margin: 0;
  overflow: auto;
  table-layout: fixed;
  width: auto;
  margin-bottom: 1.5rem;

  td,
  th {
    border: 1px solid var(--color-neutral-300);
    box-sizing: border-box;
    min-width: 1em;
    padding: 6px 8px;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;

    > * {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  th {
    background-color: var(--color-neutral-100);
    font-weight: bold;
    text-align: left;
  }

  .selectedCell:before {
    background: var(--color-neutral-200);
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    position: absolute;
    z-index: -1;
  }

  .column-resize-handle {
    background-color: blue;
    bottom: -2px;
    pointer-events: none;
    position: absolute;
    right: -2px;
    top: 0;
    width: 4px;
  }
}

.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}
