@theme {
  /* text */
  --font-sans: 'IBM Plex Sans', sans-serif;

  --text-size-extra-small: 0.75rem; /* 12px */
  --text-size-small: 0.875rem; /* 14px */
  --text-size-base: 1rem; /* 16px */
  --text-size-title-2: 1.375rem; /* 22px */
  --text-size-title: 2.25rem; /* 36px */

  --container-xs: 120px;
  --container-sm: 180px;

  /* spacing */
  --spacing-5xs: 0.25rem; /* 4px */
  --spacing-4xs: 0.5rem; /* 8px */
  --spacing-3xs: 0.75rem; /* 12px */
  --spacing-2xs: 1rem; /* 16px */
  --spacing-xs: 1.25rem; /* 20px */
  --spacing-s: 1.5rem; /* 24px */
  --spacing-m: 2rem; /* 32px */
  --spacing-l: 2.5rem; /* 40px */
  --spacing-xl: 3rem; /* 48px */
  --spacing-2xl: 4rem; /* 64px */
  --spacing-3xl: 5rem; /* 80px */
  --spacing-4xl: 7.5rem; /* 120px */
  --spacing-5xl: 10rem; /* 160px */

  /* radius */
  --radius-xs: 0.1875rem;
  --radius-sm: 0.375rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
  --radius-2xl: 1.375rem;
  --radius-full: 6.25rem;

  /* colors */
  --color-primary-10: #e0d1e6;
  --color-primary-50: #d6bfde;
  --color-primary-100: #cbacd6;
  --color-primary-200: #c099cf;
  --color-primary-300: #b686c8;
  --color-primary-400: #ac72c1;
  --color-primary-500: #a25ebb;
  --color-primary-600: #9949b6;
  --color-primary-700: #78378f;
  --color-primary-800: #562567;
  --color-primary-900: #33153e;
  --color-primary-950: #100613;
  --color-neutral-10: #ffffff;
  --color-neutral-50: #f0f2f5;
  --color-neutral-100: #e2e5eb;
  --color-neutral-200: #c4cad7;
  --color-neutral-300: #a4adc2;
  --color-neutral-400: #8793af;
  --color-neutral-500: #647395;
  --color-neutral-600: #54617e;
  --color-neutral-700: #3e485e;
  --color-neutral-800: #2b3140;
  --color-neutral-900: #151820;
  --color-neutral-950: #0b0c10;
  --color-background: #ffffff;
  --color-forground: #000000;
  --color-gray-10: #ffffff;
  --color-gray-50: #f0f2f5;
  --color-gray-100: #e2e5eb;
  --color-gray-200: #c4cad7;
  --color-gray-300: #a4adc2;
  --color-gray-400: #8793af;
  --color-gray-500: #647395;
  --color-gray-600: #54617e;
  --color-gray-700: #3e485e;
  --color-gray-800: #2b3140;
  --color-gray-900: #151820;
  --color-gray-950: #0b0c10;

  /* other */
  --line-height-extra-smaller: 1rem;
  --line-height-extra-small: 1.125rem;
  --line-height-small: 1.25rem;
  --line-height-base: 1.5rem;
  --line-height-interactive: 2rem;
}

/* Dark mode overrides */
@media (prefers-color-scheme: dark) {
  :root   {
    --color-primary-10: #0a060f;
    --color-primary-50: #1c122a;
    --color-primary-100: #2e1e45;
    --color-primary-200: #402b5f;
    --color-primary-300: #523878;
    --color-primary-400: #644691;
    --color-primary-500: #7554a7;
    --color-primary-600: #886cb2;
    --color-primary-700: #9c86bd;
    --color-primary-800: #af9ec8;
    --color-primary-900: #c2b6d4;
    --color-primary-950: #d5cee1;
    --color-neutral-10: #0c0c0c;
    --color-neutral-50: #151515;
    --color-neutral-100: #212121;
    --color-neutral-200: #222222;
    --color-neutral-300: #2f2f2f;
    --color-neutral-400: #515151;
    --color-neutral-500: #767676;
    --color-neutral-600: #b3b3b3;
    --color-neutral-700: #cdcdcd;
    --color-neutral-800: #e7e7e7;
    --color-neutral-900: #f3f3f3;
    --color-neutral-950: #fbfbfb;
    --color-background: #181818;
    --color-forground: #ffffff;
    --color-gray-10: #1b1b1b;
    --color-gray-50: #272727;
    --color-gray-100: #363636;
    --color-gray-200: #4e4e4e;
    --color-gray-300: #696969;
    --color-gray-400: #7d7d7d;
    --color-gray-500: #9b9b9b;
    --color-gray-600: #b3b3b3;
    --color-gray-700: #cdcdcd;
    --color-gray-800: #e7e7e7;
    --color-gray-900: #f3f3f3;
    --color-gray-950: #fbfbfb;
  }
}

/* Text Style Utilities */
@utility text-link {
  font-size: 0.875rem; /* 14px */
  font-weight: 400;
  line-height: 1.5rem; /* 24px */
  letter-spacing: 0em;
}
@utility text-label {
  font-size: 0.75rem; /* 12px */
  font-weight: 400;
  line-height: 1.125rem; /* 18px */
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
@utility text-interactive {
  font-size: 0.875rem; /* 14px */
  font-weight: 500;
  line-height: 2rem; /* 32px */
  letter-spacing: 0em;
}
@utility text-base {
  font-size: 1rem; /* 16px */
  font-weight: 400;
  line-height: 1.5rem; /* 24px */
  letter-spacing: 0em;
}
@utility text-subtitle {
  font-size: 0.75rem; /* 12px */
  font-weight: 500;
  line-height: 1.125rem; /* 18px */
  letter-spacing: 0em;
}
@utility text-title {
  font-size: 2.25rem; /* 36px */
  font-weight: 400;
  line-height: 1.5rem; /* 24px */
  letter-spacing: 0em;
}
@utility text-title-2 {
  font-size: 1.375rem; /* 22px */
  font-weight: 400;
  line-height: 1.5rem; /* 24px */
  letter-spacing: 0em;
}
@utility text-footnote {
  font-size: 0.75rem; /* 12px */
  font-weight: 500;
  line-height: 1rem; /* 16px */
  letter-spacing: 0em;
}

/* Drop Shadow Utilities */
@utility shadow-large {
  filter: drop-shadow(-2px 2px 24px rgba(0, 0, 0, 0.10000000149011612));
}
@utility shadow-small {
  filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.10000000149011612));
}
