/* buttons */

@custom-variant enabled (&:not([disabled]):not([aria-disabled="true"]));

@utility button-with-icon {
  @apply [&_svg]:align-middle [&_svg]:w-[1em] [&_svg]:h-[1em] [&_svg]:block [&_svg]:text-inherit;
  @apply [&_.icon+span]:ml-3xs;
}
@utility button-disabled {
  @apply opacity-50 cursor-not-allowed;
}

@utility button-ghost {
  @apply whitespace-nowrap cursor-pointer inline-flex items-center bg-primary-50 rounded-lg font-medium text-interactive text-primary-700 transition-colors px-3xs;
  @apply enabled:hover:bg-primary-100 enabled:active:bg-primary-200;
  @apply disabled:opacity-50 disabled:cursor-not-allowed;
  @apply button-with-icon;
}
@utility button-primary-base {
  @apply whitespace-nowrap cursor-pointer inline-flex items-center bg-primary-500 border border-primary-700 rounded-lg font-medium text-interactive min-h-[2rem] text-white;
}
@utility button-primary-pointer {
  @apply transition-colors enabled:hover:bg-primary-400 enabled:active:bg-primary-600;
}
@utility button-primary {
  @apply button-primary-base button-primary-pointer disabled:button-disabled button-with-icon flex-none;
}
@utility button-secondary {
  @apply flex-none whitespace-nowrap overflow-hidden text-ellipsis inline-flex items-center bg-background border border-primary-200 rounded-lg font-medium text-interactive min-h-[2rem] text-primary-600 transition-colors px-3xs;
  @apply enabled:hover:bg-primary-10 enabled:active:bg-primary-50;
  @apply disabled:opacity-50 disabled:cursor-not-allowed;
  @apply button-with-icon;
}
